<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>タイトル</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% novels.each do |novel| %>
      <tr>
        <td><%= link_to(novel.user) do %>
          <%= image_tag novel.user.get_profile_image, size:'50x50' %>
          <% end %>
        </td>
        <td><%= link_to novel.title,novel, class: "novel_#{novel.id}" %></td>
        <td id="favorite_btn_<%= novel.id %>">
          <%= render "user/bookmarks/btn", novel: novel %>
        </td>
        <td>コメント数: <%= novel.novel_comments.count %></td>
        <td>閲覧数: <%= novel.read_counts.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>