<h1>新規投稿</h1>

<%= form_with(model: @novel, url: user_novels_path, method: :post) do |form| %>
  <%= form.label :title, 'タイトル' %>
  <%= form.text_field :title %>

  <%= form.label :body, '本文' %>
  <%= form.text_area :body %>

  <%= form.submit '投稿' %>
<% end %>