<h1>新規投稿</h1>

<%= form_with(model: @novel, url: novels_path, method: :post) do |form| %>

  <%= form.label :title, 'タイトル' %>
  <%= form.text_field :title %>

  <%= form.label :body, '本文' %>
  <%= form.text_area :body %>

  <%= form.fields_for :novel do |novel_form| %>
    <%= novel_form.hidden_field :novel %>
  <% end %>

  <%= form.submit '投稿' %>
<% end %>