<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', novel: Novel.new %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Book detail</h2>
      <table class='table'>
        <tr>
          <td><%= link_to(@novel.user) do %>
            <%= image_tag @novel.user.get_profile_image, size:"100x100" %><br>
            <%= @novel.user.name %>
            <% end %>
          </td>
          <td><%= link_to @novel.title, @novel %></td>
          <td><%= @novel.body %></td>
          <td id="favorite_btn_<%= @novel.id %>">
            <%= render "user/bookmarks/btn", novel: @novel %>
          </td>
          <td id="comment_counter">
             <%= render "user/novel_comments/counter", novel: @novel %>
           </td>
          <% if @novel.user == current_user %>
            <td><%= link_to 'Edit', edit_novel_path(@novel), class: "btn btn-sm btn-success edit_book_#{@novel.id}" %></td>
            <td><%= link_to 'Destroy', @novel, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_book_#{@novel.id}"%></td>
          <% end %>
        </tr>
      </table>

       <div id="comment_index">
         <%= render "user/novel_comments/index", novel: @novel %>
       </div>

      <%= render "user/novel_comments/form", novel: @novel, nvoel_comment: @novel_comment %>

    </div>
  </div>
</div>