<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h2>作品詳細</h2>
      <table class='table'>
        <tr>
          <td>
            作：
            <%= link_to(@novel.user) do %>
              <%= @novel.user.name %><br/>
            <% end %>
            ジャンル：<%= @genre.name %>
          </td>
          <td>タイトル：<%= link_to @novel.title, @novel %></td>
        </tr>
        <tr>
          <td colspan="2">
            <%= simple_format(@novel.body) %>
            </td>
        </tr>
        
        <tr>
          <td id="bookmark_btn_<%= @novel.id %>">
            <%= render "user/bookmarks/btn", novel: @novel %>
          </td>
          <td id="comment_counter">
             <%= render "user/novel_comments/counter", novel: @novel %>
          </td>
        </tr>
           
          <% if @novel.user == current_user %>
            <td><%= link_to '投稿の編集', edit_novel_path(@novel), class: "btn btn-success edit_novel_#{@novel.id}" %></td>
            <td><%= link_to '投稿の削除', @novel, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger destroy_novel_#{@novel.id}"%></td>
          <% end %>
        
      </table>

       <div id="comment_index">
         <%= render "user/novel_comments/index", novel: @novel %>
       </div>
       
      <%= render "user/novel_comments/form", novel: @novel, novel_comment: @novel_comment %>

    </div>
  </div>
</div>