<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :"メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :"パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
  
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :"次回から自動的にログイン" %><br/>
      ネットカフェや公共の場所など、自分専用のパソコン以外では自動ログインのチェックをせず、<br/>
      使用後は必ずログアウトしてください。
    </div>
    
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<div>
<%= render "user/shared/links" %>
</div>
