<table>
  <tbody>
    <% novel.novel_comments.each do |novel_comment| %>
    <tr>
      <td>
        <% user = User.find(novel_comment.user_id) %>
          <%= link_to user_path(user) do %>
            <%= image_tag user.get_profile_image, size: "50x50" %><br>
            <%= user.name %>
          <% end %>
      </td>
      <td><%= novel_comment.comment %></td>
      <td>
        <% if novel_comment.user_id == current_user.id %>
          <%= link_to "Destroy", novel_novel_comment_path(novel, novel_comment), method: :delete, class: "btn btn-sm btn-danger float-end", remote: true %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>