<style>
  .table {
    table-layout: fixed;
    width: 100%;
  }
  
  .table th {
    width: 50%;
    text-align: center;
  }
</style>

<table class='table'>
  <% if user %>
    <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
    <tr>
  	  <th class="text-left">ユーザー</th>
  	  <th class="text-center"><%= user.name %></th>
    </tr>
    <tr>
  	  <th class="text-left">自己紹介</th>
  	  <th class="text-center"><%= user.introduction %></th>
    </tr>
    <tr>
      <th class="text-left">フォロー</th>
      <th class="text-center"><%= link_to user.followings.count, user_followings_path(user) %></th>
    </tr>
    <tr>
      <th class="text-left">フォロワー</th>
      <th class="text-center"><%= link_to user.followers.count, user_followers_path(user) %></th>
    </tr>
  <% end %>
</table>

<div class='row'>
  <% if user.email != "guest@example.com" %>
    <% if current_user != user %>
      <td><%= render "user/relationships/follow_btn", user: user %></td>
    <% else %>
      <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block edit_user_#{user.id}" do %>
        プロフィール編集  <i class="fas fa-user-cog"></i>
      <% end %>
    <% end %>
  <% end %>
</div>