<!DOCTYPE html>
<html>
  <head>
    <title>Roman</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/082f7cd5cd.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><span>ろまん</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="id="navbarNavDropdown"">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li>
                  <%= link_to user_path(current_user.id),class: 'nav-link text-light' do %>
                    <i class="fas fa-home"></i> ホーム
                  <% end %>
                </li>
                <li>
                  <a class="nav-link text-light" href="/user/homes/about">
                    <i class="fa-solid fa-circle-info"></i> 使い方</a>
                </li>
                <li>
                  <a class="nav-link text-light" href="/users">
                   <i class="fas fa-users"></i> 作者一覧</a>
                </li>
                <li>
                  <a class="nav-link text-light" href="/novels">
                    <i class="fa-solid fa-book"></i> 小説一覧</a>
                </li>
                <li>
                  <a class="nav-link text-light" href="/novels/new">
                    <i class="fa-solid fa-pen"></i> 投稿する</a>
                </li>
                <li>
                  <a class="nav-link text-light" rel="nofollow" data-method="delete" href="/users/sign_out">
                    <i class="fas fa-sign-out-alt"></i> ログアウト</a>
                </li>
              <% else %>
                <li>
                  <a class="nav-link text-light" href="/">
                    <i class="fas fa-home"></i> ホーム</a>
                </li>
                <li>
                  <a class="nav-link text-light" href="/user/homes/about">
                    <i class="fa-solid fa-circle-info"></i> 使い方</a>
                </li>
                <li>
                  <a class="nav-link text-light" href="/users/sign_up">
                    <i class="fas fa-user-plus"></i> 新規登録</a>
                </li>
                <li>
                  <a class="nav-link text-light" href="/users/sign_in">
                    <i class="fas fa-sign-in-alt"></i> ログイン</a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    </header>

    <main>
      <p class="text-success"><%= flash[:notice] %></p>
      <p class="text-danger"><%= flash[:alert] %></p>
      <div class="d-flex justify-content-center mb-2">
        <%= render "user/searches/form" %>
      </div>
      <%= yield %>
    </main>
  </body>

  <footer>
    <div class="container mt-5">
      <div class="row">
        <div class="mx-auto">
          <p>ろまん</p>
        </div>
      </div>
    </div>
  </footer>
